<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.tsinling.aidl">

    <application>
        <service
            android:name=".server.BinderPoolService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="me.tsinling.aidl.BinderPoolService" />
            </intent-filter>
        </service>
    </application>

</manifest>